.header {
    padding: 24px 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400
}

.header__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title {
    margin: 40px 0;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
    color: var(--black);
}


.header__logo {
    width: 110px;
    height: 32px;
    color: var(--black);
}

.header__menu {
    display: inline-flex;
    gap: 24px;
    justify-content: space-between;
}

.header__nav-link {
    color: var(--grey-3);
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
}

.header__nav-link:focus, .header__nav-link_focused {
    color: var(--black);
}

.header__theme-toggle-wrapper {
    width: 163px;
}

@media screen and (max-width: 768px) {
    .header__menu {
        display: none;
    }

    .header {
        padding: 16px 0 20px 0;
    }

    .header_layout {
        background: var(--grey-5);
    }

    .header__title {
        margin: 49px 0;
    }

    .header__head {
        justify-content: center;
    }

    .header__title {
        font-size: 28px;
        line-height: 38px;
    }
}


