.modal {
    display: none;
    background: rgba(196, 196, 196, 0.5);
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
}

.modal__preview {
    box-sizing: border-box;
    position: absolute;
    width: 10em;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    padding: 0.9em 0.9em 2.5em 2.5em;
    background: var(--white);
    border-radius: 0.4em;
    font-family: 'Inter', sans-serif;
    font-style: normal;
}

.modal__header {
    display: flex;
    justify-content: space-between;
}

.modal__close {
    padding: 0;
    height: 15px;
    width: 15px;
    outline-style: none;
    border: none;
    background: transparent;
    cursor: pointer;
}

.modal__title {
    margin: 0.9em 0 0.8em 0;
    font-weight: 600;
    font-size: 1.25em;
    line-height: 1.5em;
    color: var(--dark-blue);
}

.modal__body {
    margin: 0;
    padding-right: 25px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
}

.modal_main-page-preview {
    max-height: 222px;
    display: block;
    position: static;
}

.modal_main-page-preview .modal__preview {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 80%;
    height: 70%;
    margin: 0;
    padding: 0.9em 1.5em 1.2em 1.5em;
}

@media screen and (max-width: 768px) {
    .modal {
        font-size: 8px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    .modal_main-page-preview .modal__preview {
        width: 100%;
        height: 80%;
    }
}
