.page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.page__tempHeaderFixHeight {
    height: 82px;
}

.page__preview {
    padding-top: 36px;
    padding-bottom: 36px;
    flex-grow: 1;
    background: var(--grey-5);
}
