.container {
    max-width: 1110px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container_burger-menu {
    width: 90vw;
}

@media screen and (max-width: 768px) {
    .container {
        margin: 0 15px;
    }
}
