.radio {
    display: inline-block;
    position: relative;

}

.radio__input {
    position: absolute;
    outline: none;
    clip: rect(0, 0, 0, 0);
}

.radio__state {
    display: flex;
    align-items: center;
    gap: 1em;
}

.radio__control {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 1.75em;
    height: 1.75em;
    background: var(--white);
    border: 0.0625em solid var(--grey-2);
    border-radius: 0.875em;
    cursor: pointer;
}

.radio__icon {
    width: 1.125em;
    height: 1.125em;
    border-radius: 50%;
    display: none;
}

.radio__title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5em;
    color: #495057;
}

.radio__input:checked ~ .radio__state .radio__control {
    border: 0.125em solid var(--ligth-blue);
    animation: pulse 0.5s;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 #bdc3c7;
    }
    100% {
        box-shadow: 0 0 1em 1.5rem rgba(189, 195, 199, 0);
    }
}

.radio__input:checked ~ .radio__state .radio__icon {
    display: block;
    background: var(--ligth-blue);
}

.radio__input:disabled ~ .radio__state .radio__title {
    color: var(--grey-2);
}

.radio__input:focus ~ .radio__state .radio__title {
    text-decoration: underline;
}

.radio__input:disabled ~ .radio__state .radio__control {
    background: var(--grey-2);
    cursor: default;
}

@media screen and (max-width: 768px) {
    .radio {
        font-size: 10px;
    }
}
