.skeleton {
    background: var(--white);
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    padding: 24px;
}

.skeleton__header {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: flex-start;
    margin-bottom: 24px;
}

.skeleton__body {
    padding-right: 16px;
}

.skeleton__line-container {
    flex-grow: 1;
}

.skeleton__circle {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.skeleton__line {
    height: 20px;
    margin-bottom: 8px;
}

.skeleton__line_small {
    width: 35%;

}

.skeleton__line_medium {
    width: 55%;
}

.skeleton__circle, .skeleton__line {
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: backgroundMovement;
    animation-timing-function: linear;
    background: var(--grey-2);
    background: linear-gradient(267.58deg, var(--grey-2) 0%, var(--grey-1) 80%, var(--grey-2) 100%);
    background-size: 200%;
}

@keyframes backgroundMovement {
    0% {
        background-position: 100%;
    }

    100% {
        background-position: -100%;
    }
}
