.tooltip {
    position: relative;
    display: inline-flex;
}

.tooltip__trigger {
    cursor: pointer;
    height: 24px;
    width: 24px;
}

.tooltip__helper {
    display: none;
    position: absolute;
    bottom: calc(100% + 0.625em);
    right: 50%;
    transform: translateX(50%);
    white-space: nowrap;
    background: var(--ligth-blue);
    box-shadow: 0 0.125em 0.25em rgba(33, 36, 41, 0.05);
    border-radius: 0.625em;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5em;
    text-align: center;
    padding: 0.8125em 1.5em;
    color: var(--grey-2);

}

.tooltip__trigger:hover ~ .tooltip__helper {
    display: block;
}

.tooltip__helper:before {
    position: absolute;
    content: "";
    border: 0.45em solid transparent;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-top: 0.4em solid var(--ligth-blue);

}

.tooltip-icon {
    width: 1.5em;
    height: 1.5em;
}

.tooltip_main-page-preview .tooltip__helper {
    display: block;
}

.tooltip_main-page-preview {
    transform: translateY(2em);
}

@media screen and (max-width: 768px) {
    .tooltip {
        font-size: 12px;
    }
}
