.tooltip {
    position: relative;
    display: inline-flex;
}

.tooltip__trigger {
    cursor: pointer;
    height: 24px;
    width: 24px;
}

.tooltip__helper {
    display: none;
    position: absolute;
    bottom: calc(100% + 10px);
    right: 50%;
    transform: translateX(50%);
    white-space: nowrap;
    background: var(--ligth-blue);
    box-shadow: 0 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    padding: 13px 24px;
    color: var(--grey-2);

}

.tooltip__trigger:hover ~ .tooltip__helper {
    display: block;
}

.tooltip__helper:before {
    position: absolute;
    content: "";
    border: 7px solid transparent;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-top: 6px solid var(--ligth-blue);

}
