.footer {
    background: var(--main-bg-color);
}

.footer__title {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 48px;
    color: var(--main-font-color);
}

.footer__content {
    padding: 40px 0 136px 0;
    display: grid;
    place-items: center;
}

.footer__content_layout {
    padding: 0;
}

.footer__text {
    margin: 0;
    max-width: 640px;
    text-align: center;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--main-font-color);
}

.footer_layout {
    background: var(--grey-5);

}

.footer__title_layout {
    padding-top: 56px;
    padding-bottom: 56px;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--grey-3);
}

@media screen and (max-width: 768px) {
    .footer__title {
        font-weight: 400;
        font-size: 28px;
        line-height: 38px;
    }

    .footer__title_layout {
        padding: 28px 0 28px 0;
        font-weight: 400;
        font-size: 10px;
        line-height: 16px;
    }

    .footer__content {
        padding: 0 0 2rem 0;
    }

    .footer__content_layout {
        padding: 0;
    }

    .footer__text {
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;

    }
}
