.tabs-switcher{
    background: var(--main-bg-color);
    display: inline-flex;
    justify-content: center;
    position: relative;
    width: 100%;

}
.tabs-switcher_component-page {
    justify-content: flex-start;
    position: static;
}
.tabs-switcher__input {
    position: absolute;
    outline: none;
    clip: rect(0, 0, 0, 0);

}

#all-tab:checked ~ .tabs-switcher .tabs-switcher__label[for="all-tab"]::after,
#complex-tab:checked ~ .tabs-switcher .tabs-switcher__label[for="complex-tab"]::after,
#simple-tab:checked ~ .tabs-switcher .tabs-switcher__label[for="simple-tab"]::after,
#html-preview:checked ~ .tabs-switcher .tabs-switcher__label[for="html-preview"]::after,
#css-preview:checked ~ .tabs-switcher .tabs-switcher__label[for="css-preview"]::after {
    content: "";
    /*position: absolute;*/
    display: block;
    height: 5px;
    width: 100%;
    top: 100%;
    background: var(--active-text-color);
}

#all-tab:checked ~ .preview .preview__tab1,
#complex-tab:checked ~ .preview .preview__tab2,
#simple-tab:checked ~ .preview .preview__tab3 {
    display: flex;
}
#complex-tab:checked ~ .preview .preview__button-inner,
#simple-tab:checked ~ .preview .preview__button-inner {
    display: none;
}

#html-preview:checked ~ #preview-html,
#css-preview:checked ~ #preview-css {
    display: block;
}


.tabs-switcher__label::after {
    display: none;
    margin-top: 8px;
}

.tabs-switcher__label {
    white-space: nowrap;
    color: var(--grey-3);
    /*position: relative;*/
    cursor: pointer;
    /*padding-bottom: 8px;*/
}

#all-tab:checked ~ .tabs-switcher .tabs-switcher__label[for="all-tab"],
#complex-tab:checked ~ .tabs-switcher .tabs-switcher__label[for="complex-tab"],
#simple-tab:checked ~ .tabs-switcher .tabs-switcher__label[for="simple-tab"],
#html-preview:checked ~ .tabs-switcher .tabs-switcher__label[for="html-preview"],
#css-preview:checked ~ .tabs-switcher .tabs-switcher__label[for="css-preview"] {
    color: var(--active-text-color);
}

.tabs-switcher__menu {
    display: inline-flex;
    gap: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
}
.tabs-switcher__split-line {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #DDE2E5;
}

.tabs-switcher__split-line_component-page {
    position: static;
}
