.menu {
    width: 229px;
    display: grid;
    grid-template-rows: auto auto 1fr;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.menu__button {
    padding: 0;
    display: none;
    outline-style: none;
    border: none;
    background: transparent;
    color: var(--grey-4);
    text-align: center;
}

.menu__icon {
    left: 15px;
    position: absolute;
    width: 18px;
    height: 20px;
    top: 20px;
}

.menu__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.menu__link {
    text-decoration: none;
    font-size: 14px;
    line-height: 22px;
    color: var(--black);
}

.menu__title {
    font-weight: inherit;
    font-size: 20px;
    line-height: 26px;
    color: var(--black);
    margin: 0 0 16px 0;
}

.menu__footer {
    margin-top: 30px;
}

.menu__link:focus, .menu__link_active {
    color: var(--red-orange);
}

@media screen and (max-width: 768px) {
    .menu {
        display: none;
    }

    .menu__button {
        display: block;
    }
}
