.preview {
    flex-grow: 1;
    background: var(--grey-5);
}

.preview__cards {
    padding: 68px 0 64px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px 30px
}

.preview_layout {
    display: flex;
    padding: 32px 48px;
    margin-left: 56px;
    background: var(--main-bg-color);
    box-shadow: 0 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
}

.preview__content {
    display: grid;
    gap: 30px;
    grid-template-rows: 1fr 1.6fr;
    flex-direction: column;
}

.preview__content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*align-items: center;*/
}

.preview__content-wrapper_histogram {
    width: 300px;
}

.preview_content-wrapper_calendar {
    align-items: center;
    width: 304px;
}

.preview__content-wrapper_tooltip, .preview_content-wrapper_avatar {
    align-items: center;
}
.preview__content-wrapper_custom {

}
.preview__inputs_wrapper {
    box-sizing: border-box;
    padding-top: 3.5625em;
    display: grid;
    align-items: start;
    grid-template: repeat(3, 3em) / 1fr 1fr;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0 37px;
}

.preview__title {
    align-self: flex-start;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    margin: 0 0 24px 0;
    color: var(--grey-4);
}

.preview__button-inner {
    display: flex;
    padding-bottom: 92px;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .preview__button-inner {
        padding-bottom: 30px;

    }

    .preview__cards {
        padding: 24px 0;
        gap: 23px 16px;
    }

    .preview_layout {
        padding: 0;
        margin: 0;
        box-shadow: none;
    }
    .preview__content {
        width: 100%;
    }

    .preview__content-wrapper_histogram, .preview_content-wrapper_calendar,.preview_content-wrapper_avatar {
        width: 100%;

    }

    .preview__content-wrapper_tooltip, .preview__content-wrapper_modal {
        width: fit-content;
    }

    .preview__title {
        font-size: 20px;
        line-height: 26px;
        margin: 0 0 20px 0;

    }
}

.preview__cards.preview__cards_all, .preview__cards.preview__cards_complex, .preview__cards.preview__cards_simple {
    display: none;
}
