.input {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: var(--grey-3);

}

.input__container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.input__label {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.input__input-text {
    padding: 17px 24px 17px 24px;
    background: var(--white);
    border: 1px solid var(--grey-2);
    border-radius: 8px;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;

}

.input__input-text::placeholder {
    color: var(--grey-2);
}

.input__input-text:focus {
    color: var(--grey-4);
    border: 1px solid var(--ligth-blue);
    box-shadow: 0 1px 1px rgba(51, 154, 240, 0.1);
    border-radius: 8px;
    outline: none;
}

.input__icon {
    width: 24px;
    height: 24px;
    top: calc(50%);
    transform: translate(-100%, -50%);
    position: absolute;
    left: calc(100% - 18px);
    display: none;
}

.input_success .input__icon_success {
    color: var(--blue);
    display: block;
}

.input_invalid .input__icon_error {
    color: var(--red);
    display: block;
}

.input_invalid .input__input-text {
    border: 1px solid var(--red);
    box-shadow: 0 1px 1px rgba(240, 61, 62, 0.1);
    border-radius: 8px;
}


