.input {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--grey-3);

}

.input__input-text {
    padding: 17px 24px 17px 24px;
    background: var(--white);
    border: 1px solid var(--grey-2);
    border-radius: 8px;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;

}

::placeholder {
    color: var(--grey-2);
}
.input__input-text:focus {
    color: var(--grey-4);
    border: 1px solid var(--ligth-blue);
    box-shadow: 0 1px 1px rgba(51, 154, 240, 0.1);
    border-radius: 8px;
    outline: none;
}

.input__input-text:focus ~ .input__placeholder {
    display: none;
}

.input__placeholder {
    display: flex;
    position: absolute;
    top: calc(50% + 9px);
    left: 24px;
    transform: translateY(-50%);
    text-transform: none;

    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: var(--grey-2);
}

.input__container {
    background: var(--white);
    border: 1px solid var(--grey-2);
    border-radius: 8px;

}

.input__success-icon {
    width: 24px;
    height: 24px;
    top: calc(50% + 9px);
    transform: translate(-100%, -50%);
    color: var(--blue);
    position: absolute;
    left: calc(100% - 18px);
}

.input__input-text.input__input-text_invalid {
    border: 1px solid var(--red);
    box-shadow: 0 1px 1px rgba(240, 61, 62, 0.1);
    border-radius: 8px;
}

.input__error-icon {
    width: 24px;
    height: 24px;
    top: calc(50% + 9px);
    transform: translate(-100%, -50%);
    color: var(--red);
    position: absolute;
    left: calc(100% - 18px);
}
